<h2> Best coworking spaces for digital nomads </h2>

<div class="card-columns">
   <% @coworking_spaces.each do |c| %>
     <div class="card">
       <div class="card-block">
        <%= link_to coworking_space_path(c.id) do %>
            <%= cl_image_tag(c.image, class: 'w-25 p-3') %>
            <p class="card-title"><b><%= c.name %></b></p>
            <p class="card-text"><%= c.description %></p>
        <% end %>
       </div>
     </div>
   <% end %>
</div>