<h2> All startups </h2>
<div class="card">
    <ul class="icons">
        <% @startups.each do |s| %>
            <li> 
                <%= link_to startup_path(s.id) do %>
                    <%= cl_image_tag(s.image) %>
                    <%= s.status %>

                <% end%>
            </li>
        <% end %>
</div>
    </ul>
