<h2> List of startups in NomadList Cities </h2>

<div class="container">
    <% @startups.each do |s| %>
        <div class="card">
            <%= link_to startup_path(s.id) do %>
                <%= cl_image_tag(s.image, class: 'startups') %><br>
                <strong><%= s.name %></strong>
                <li><%= s.description %></li>
            <% end %> 
        </div>
    <% end %> 
    </div> 
