<h2> All startups </h2>

<div class="card-columns">
   <% @startups.each do |s| %>
     <div class="card">
       <div class="card-block icons">
        <%= link_to startup_path(s.id) do %>

            <p class="card-title"><strong><%= s.name %></strong></p>
            <%= cl_image_tag(s.image) %>
            <p class="card-text"><%= s.description %></p>
        <% end %>
       </div>
     </div>
   <% end %>
</div>