.grid {
    position: relative; 
    background-color: rgba(215, 238, 224, 0.954);
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: flex-start;
}

.card {
    background-color: white;
    display: inline-flex;
    flex-wrap: wrap;
    width: 36%;
    border-radius: 6%;
    padding: 10px 10px 10px 10px;
    flex-direction: row;
    margin: 4px;
}

img {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 20vh;
}
img:hover {
    opacity: 80%;
}

.startups p {
    font-size: 2em;
}

.startups li {
    list-style-type: none;
}

.startups img {
    width: 9vh;
    height: 7vh;
}
